:root {
    --main-background: #1d1e22;
    --header-button-background: #1e1f26;
    --link-footer-color: #9b9dad;
    --button-hover-focus-background: #5a6074;
    --button-border-background: #444857;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    height: 100%;
}
body {
    background: var(--main-background);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 30px;
}


/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Telefon';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/Telefon.woff) format('woff');
}


@media (max-width: 830px) {
    html {
        font-size: 14px;
    }
}
@media (max-width: 550px) {
    html {
        font-size: 13px;
    }
}
@media (max-width: 767px), (max-height: 440px) {
    body {
        padding-bottom: 0;
    }
}


/*                  Header                  */

.header {
    background: var(--header-button-background);
    height: 65px;
}

.nav {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
}
.nav__icon-container {
    height: 100%;
    margin: 0 8px;
    width: 30px;
}
.nav__icon {
    display: block;
    height: 100%;
    width: 100% ;
}

.nav__inner-container {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 120px;
}
.nav__title-container {
    width: 100%;
}
.nav__title {
    align-items: center;
    display: flex;
    font-size: 1.3rem;
    line-height: 1.1;
    margin: 0 0 0.1rem;
}
.nav__title-text {
    color: white;
    display: inline-block;
    font-weight: 700;
    max-width: 100%;
    vertical-align: middle;
}
.nav__subtitle {
    align-items: center;
    display: flex;
}
.nav__subtitle-link {
    color: var(--link-footer-color);
    font-size: 0.9rem;
    text-decoration: none;
}
.nav__subtitle-link:hover, .nav__subtitle-link:focus {
    color: white;
}

.toggle-button {
    display: none;
    background: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    font-size: 0.75rem;
    padding: 8px;
}
.toggle-button:hover, .toggle-button:focus {
    background: var(--header-button-background);
}
.toggle-button__inner-container {
    background: var(--button-border-background);
    border-radius: 4px;
    display: block;
    height: 32px;
    padding: 15px 8px;
    position: relative;
    transition: all 0.2s ease;
    width: 36px;
}
.toggle-button__line {
    background: white;
    border-radius: 6px;
    display: block;
    height: 2px;
    position: relative;
    width: 10px;
}
.toggle-button__line:before {
    background: inherit;
    border-radius: inherit;
    content: "";
    height: inherit;
    left: 0;
    position: absolute;
    top: -6px;
    transition: inherit;
    width: 6px;
}
.toggle-button__line:after {
    background: inherit;
    border-radius: inherit;
    bottom: -6px;
    content: "";
    height: inherit;
    left: 0;
    position: absolute;
    transition: inherit;
    width: 16px;
}
.toggle-button__icon {
    fill: white;
    height: 9px;
    position: absolute;
    right: 6px;
    top: 8px;
    transform: scale(1, 1);
    transition: transform 0.2s ease;
    width: 12px;
}

.nav__actions {
    display: flex;
}
.nav__button {
    background: var(--button-border-background);
    border: 3px solid transparent;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.2;
    margin: 0 10px 0 0;
    padding: 10px 16px;
    position: relative;
}
.nav__button:active {
    transform: translateY(1px);
}
.nav__button:hover, .nav__button:focus {
    background: var(--button-hover-focus-background);
}
.nav__button_run {
    background: none;
    border-color: var(--button-border-background);
}
.nav__button_run:hover, .nav__button_run:focus {
    border-color: var(--button-hover-focus-background);
}
.nav__button_run.nav__button_loading {
    color: transparent;
}
.nav__button_loading::after {
    animation: show-loading-spinner 2s ease, hide-loading-spinner 2s linear;
    border: 4px solid transparent;
    border-radius: 50%;
    border-top-color: white;
    bottom: 0;
    content: "";
    height: 16px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}
.nav__button_run:not(.nav__button_loading) {
    animation: show-text 1s ease;
}
.nav__button-icon {
    display: inline-block;
    fill: currentColor;
    height: 16px;
    margin-right: 0.35em;
    vertical-align: bottom;
    width: 16px;
}
.nav__button-icon_run {
    display: none;
}

@keyframes show-loading-spinner {
    to {
        transform: rotate(2turn);
    }
}
@keyframes hide-loading-spinner {
    to {
        border-top-color: transparent;
    }
}
@keyframes show-text {
    from {
        color: transparent;
    }
    to {
        color: white;
    }
}

@media (max-width: 830px) {
    .header {
        height: 53px;
    }

    .nav__link-container {
        height: 53px;
    }
}
@media (max-width: 767px) and (orientation: landscape), (max-height: 440px) and (orientation: landscape) {
    .nav {
        border-bottom: 1px solid var(--button-border-background);
    }
}
@media (max-width: 767px), (max-height: 440px) {
    .nav__title {
        margin: 0;
        font-size: 1rem;
    }

    .toggle-button {
        display: block;
    }
    .toggle-button_expanded .toggle-button__line {
        width: 6px;
    }
    .toggle-button_expanded .toggle-button__line:before {
        width: 9px;
    }
    .toggle-button_expanded .toggle-button__icon {
        transform: scale(1, -1) translateY(-1px);
    }

    .nav__actions {
        background: var(--header-button-background);
        box-shadow: 0 2rem 4rem #0a0a0c;
        display: block;
        max-height: 75vh;
        opacity: 0;
        overflow: hidden;
        overflow-y: auto;
        padding: 0.5rem 0;
        position: absolute;
        right: 0;
        transform: scale(0.9);
        transform-origin: top right;
        transition: all 0.2s ease-in-out, visibility 0s linear 0.2s;
        top: 100%;
        visibility: hidden;
        width: 225px;
        z-index: 2;
    }
    .nav__actions_open {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1);
        transition-delay: 0s, 0s;
        visibility: visible;
    }
    .nav__button {
        background: none;
        border: none;
        border-radius: 0;
        display: block;
        font-weight: bold;
        line-height: 1.4;
        margin: 0 0 0.25rem;
        text-align: left;
        width: 100%;
    }
    .nav__button-icon_run {
        display: inline-block;
    }
}
@media (max-width: 550px) {
    .nav__icon-container {
        width: 20px;
    }
}


/*                  Modal window                  */

.modal {
    background: #131417;
    border: 3px solid #252830;
    border-radius: 4px;
    bottom: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    left: 1em;
    margin: 0 auto auto;
    max-height: 80vh;
    max-width: calc(100% - 2rem);
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 1em;
    top: 70px;
    transform: scale(0.9);
    transform-origin: center center;
    transition: transform 0.15s, opacity 0.15s, visibility 0s linear 0.15s;
    visibility: hidden;
    width: 700px;
    z-index: 2;
}
.modal_open {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0s;
    visibility: visible;
}
.modal__header {
    margin: 0.375rem 1.25rem 0;
}

.modal-header {
    align-items: center;
    border-bottom: 2px solid #2c303a;
    display: flex;
    flex-shrink: 0;
}
.modal-header__title {
    border-bottom: 2px solid #47cf73;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0.2rem auto -2px 0;
    padding: 0.625rem 0;
}
.modal-header__close-button {
    background: var(--button-border-background);
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1.2;
    margin: 0 1px 0 0;
    padding: 2px 7px;
}
.modal-header__close-button:active {
    transform: translateY(1px);
}
.modal-header__close-button:hover, .modal-header__close-button:focus {
    background: var(--button-hover-focus-background);
}
.modal-header__close-button-icon {
    fill: currentColor;
    height: 10px;
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 10px;
}

.modal__article {
    align-items: stretch;
    display: grid;
    height: 100%;
    grid-template-columns: 160px 1fr;
    overflow-y: hidden;
    padding-bottom: 0;
    position: relative;
}
.modal__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 1rem 0;
}
.modal__button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    line-height: 1.7;
    outline: none;
    overflow: hidden;
    padding: 0 1.25rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: 0.3s ease;
    transition-property: transform, background-color;
    width: 100%;
}
.modal__button:before {
    background: #47cf73;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: inherit;
    width: 3px;
}
.modal__button:hover {
    background: #2c303a;
}
.modal__button_active {
    background: #2c303a;
    font-weight: 700;
}
.modal__button_active:before {
    transform: translateX(0);
}

.modal__tab {
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1.125rem 1.25rem 3rem;
}
.modal__tab_active {
    display: block;
}
.modal__tab::-webkit-scrollbar {
    height: 0.5em;
    width: 0.5em;
}
.modal__tab::-webkit-scrollbar-thumb {
    background: #717790;
}
.modal__form {
    margin: 0 0 1rem 0;
}
.modal__form:last-of-type {
    margin: 0;
}

.form {
    background: linear-gradient(to right, rgba(155, 157, 173,0.1), rgba(155 , 157, 173,0));
    border-left: 3px solid var(--button-border-background);
    color: white;
    padding: 1em;
    position: relative;
}
.form__title {
    font-size: 1rem;
    line-height: 1.2;
    margin: 0 0 4px 0;
    text-transform: none;
}
.form__label {
    color: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    margin: 0 0 3px 0;
    text-transform: inherit;
}
.form__help-container {
    height: 14px;
    line-height: 1.15;
    right: 0;
    margin: 0;
    position: absolute;
    top: 3px;
    width: 14px;
}
.form__help-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.form__help-button:active {
    transform: translateY(1px);
}
.form__help-icon {
    display: block;
    fill: #717790;
    height: 100%;
    width: 100%;
}
.form__help-icon:hover, .form__help-icon:focus {
    fill: #0ebeff;
}

.form-help {
    background: black;
    border: 5px solid #5a5f73;
    box-shadow: 2px 2px 8px rgb(0 0 0);
    color: #aaaebc;
    display: none;
    left: auto;
    margin-right: 12px;
    padding: 20px;
    position: absolute;
    right: 100%;
    text-align: left;
    top: -20px;
    width: 300px;
    z-index: 1;
}
.form-help_display {
    display: block;
}
.form-help:before {
    border: 10px solid transparent;
    border-left: 10px solid #5a5f73;
    content: '';
    height: 0;
    left: auto;
    margin-right: -24px;
    position: absolute;
    right: 0;
    top: 12px;
    width: 0;
}
.form-help__title {
    color: white;
    margin: 0 0 0.5rem 0;
    text-transform: uppercase;
}
.form-help__close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 12px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 12px;
}
.form-help__close-button:focus .form-help__close-button-icon {
    fill: #c7c9d3;
}
.form-help__close-button-icon {
    display: block;
    fill: #5a5f73;
}
.form-help__close-button-icon:hover, .form-help__close-button-icon:focus {
    fill: #c7c9d3;
}
.form-help__paragraph {
    color: #aaaebc;
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 0.75em;
}
.form-help__paragraph:last-of-type {
    margin-bottom: 0;
}
.form-help__link {
    border-bottom: 1px solid #56bcf9;
    color: #56bcf9;
    text-decoration: none;
}
.form-help__link:hover, .form-help__link:focus {
    color: #87d0fb;
    border-bottom: none;
}

.form__select-container {
    background: #fff;
    border-radius: 3px;
    height: 42px;
    margin-bottom: 0;
    position: relative;
}
.form__select {
    appearance: none;
    background: #e3e4e8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #717790;
    font-family: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, sans-serif;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    outline: 0;
    padding: 0 12px;
    position: relative;
    width: 100%;
}
.form__select-icon-container {
    height: 18px;
    padding: 1px;
    pointer-events: none;
    position: absolute;
    right: 6px;
    top: 12px;
    width: 18px;
}
.form__select-icon {
    fill: #5a5f73;
    height: 30px;
    padding: 1px;
    position: absolute;
    width: 14px;
}
.form__select-icon_up {
    transform: rotate(180deg);
    top: -10px;
}
.form__input {
    appearance: none;
    background: #e3e4e8;
    border: 3px solid #e3e4e8;
    border-bottom: none;
    border-radius: 3px;
    color: #2c303a;
    font-family: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, sans-serif;
    font-size: 13px;
    outline: none;
    padding: 10px;
    width: 100%;
}
.form__input::-webkit-inner-spin-button, .form__input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.modal-footer {
    background: #252830;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 -4px 10px rgba(19,20,23,0.25);
    padding: 0.75rem;
    position: relative;
}
.modal-footer__inner-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.modal-footer__close-input {
    background: #47cf73;
    border: 3px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    color: #000;
    font-family: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, sans-serif;
    font-size: 0.96rem;
    line-height: 1.2;
    margin-left: auto;
    padding: 6px 11px;
}
.modal-footer__close-input:active {
    transform: translateY(1px);
}
.modal-footer__close-input:hover, .modal-footer__close-input:focus {
    background: #2fb45a;
}

@media (max-width: 767px), (max-height: 440px) {
    .modal {
        max-height: none;
    }

    .modal__article {
        display: flex;
        flex-direction: column;
    }
    .modal__nav {
        border-bottom: 2px solid #2c303a;
        margin: 1rem 0.75rem 0;
        overflow-y: hidden;
        padding: 0.2rem 0 1.35rem;
    }
    .modal__nav-inner-container {
        display: inline-block;
    }
    .modal__button {
        display: inline-block;
        padding: 0 0.5rem;
        width: inherit;
    }
    .modal__button_active:before {
        content: none;
    }
}
@media (max-width: 550px) {
    .modal {
        width: calc(100% - 2rem);
    }
}


/*                  Main                  */

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    width: 100%;
}

.main-nav {
    display: none;
}

.main__inner-container {
    display: flex;
    flex-grow: 1;
    min-height: 125px;
    overflow: hidden;
    width: 100%;
}
.main__separator {
    position: relative;
}

.separator {
    background: #333642;
    border-left: 1px solid rgba(255, 255, 255 , 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    width: 18px;
}
.separator_vertical {
    border: none;
    box-shadow: 0 0 1px black;
    height: 16px;
    width: 100%;
    z-index: 0;
}
.separator_console-open {
    border-bottom: 1px solid black;
    cursor: row-resize;
    height: 17px;
}
.separator_resizer {
    cursor: col-resize;
}
.separator__title {
    color: #aaaebc;
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    left: 53px;
    line-height: 1.2;
    padding-left: 2px;
    position: absolute;
    top: 7px;
    transition: transform 0.2s;
    transform-origin: left center;
    vertical-align: middle;
    z-index: 0;
}
.separator__title_vertical {
    transform: translate(-45px, -11px) rotate(90deg) scale(0.8);
}

.main__title {
    color: #aaaebc;
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.2;
    padding-left: 2px;
    transition: transform 0.2s;
    transform-origin: left center;
    vertical-align: middle;
}
.main__title_horizontal {
    left: 53px;
    position: absolute;
    top: 7px;
    z-index: 0;
}
.main__title_vertical {
    transform: translate(-45px, -11px) rotate(90deg) scale(0.8);
}
.main__title-text_hidden {
    visibility: hidden;
}
.main__subtitle {
    bottom: 2px;
    font-size: 12px;
    font-weight: normal;
    margin-left: 5px;
    position: relative;
    visibility: hidden;
}

.main__editor-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}
.main__actions {
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    display: flex;
    padding: 5px 5px 5px 0;
    position: relative;
    white-space: nowrap;
}
.main__actions_left {
    flex: 1 1 auto;
    padding-left: 5px;
}
.main__actions_left .main__title:after {
    background: #47cf73;
    border-radius: 2px;
    bottom: 2px;
    color: black;
    content: " ";
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    opacity: 0;
    padding: 1px 3px;
    position: relative;
    transition: visibility 0s linear 0.2s, all 0.2s linear;
    vertical-align: middle;
    visibility: hidden;
}
.main__unsaved-message {
    margin-left: 3px;
    vertical-align: -0.5em;
}

.unsaved-message {
    background: #ffdd40;
    border-radius: 3px;
    color: black;
    display: inline-block;
    font-size: 10px;
    line-height: 1;
    max-width: 50%;
    opacity: 0;
    overflow: hidden;
    padding: 2px 6px 3px;
    pointer-events: none;
    transform: scale(0.9);
    transition: opacity 0.4s linear, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.unsaved-message__count {
    font-weight: 700;
}
.unsaved-message__dismiss-icon {
    display: inline-block;
    height: 0.8em;
    margin-bottom: -1px;
    margin-left: 2px;
    opacity: 0.7;
    width: 0.8em;
}

.main__actions_right {
    margin-left: auto;
}
.main__button {
    background: var(--button-border-background);
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1.2;
    margin: 0 1px 0 0;
    padding: 2px 7px;
}
.main__button:active {
    transform: translateY(1px);
}
.main__button:hover, .main__button:focus {
    background: var(--button-hover-focus-background);
}
.main__button-icon {
    fill: currentColor;
    height: 10px;
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 10px;
}

.dropdown {
    color: #2c303a;
    background: white;
    border-radius: 3px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    list-style: none;
    margin-top: 5px;
    opacity: 0;
    padding: 5px 0;
    position: absolute;
    right: 0;
    top: 100%;
    transform: scale(0.95);
    transform-origin: top right;
    transition: transform 0.15s, opacity 0.15s, visibility 0s linear 0.15s;
    visibility: hidden;
    width: 220px;
    z-index: 2;
}
.dropdown_dropped {
    opacity: 1;
    transform: none;
    transition-delay: 0s;
    visibility: visible;
}
.dropdown__button {
    cursor: pointer;
    color: black;
    background: none;
    border: 0;
    border-radius: 0;
    display: block;
    font-family: inherit;
    font-size: 0.9rem;
    line-height: 1.1;
    padding: 7px 15px 8px;
    text-align: left;
    text-shadow: none;
    text-decoration: none;
    width: 100%;
}
.dropdown__input {
    display: none;
}
.dropdown__button:hover, .dropdown__button:focus {
    background: #e7e8f1;
}

.editor {
    height: 100%;
    width: 100%;
}
.editor__form {
    height: 100%;
    position: relative;
    width: 100%;
}

.console {
    background: var(--main-background);
    display: none;
    height: 195px;
    overflow: hidden;
    z-index: 0;
}
.console_display {
    display: block;
}

.console__actions-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(0 ,0, 0, 0.1);
    display: flex;
    padding: 5px 5px 5px 0;
}
.console__actions-left {
    flex: 1 1 auto;
    padding-left: 5px;
}
.console__actions-right {
    margin-left: auto;
}
.console__title {
    color: #aaaebc;
    display: inline-block;
    font-family: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, sans-serif;
    font-size: 1.3em;
    line-height: 1.2;
    padding-left: 2px;
    vertical-align: middle;
}
.console__button {
    background: var(--button-border-background);
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    display: inline-block;
    font-family: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, sans-serif;
    font-size: 0.8rem;
    line-height: 1.2;
    margin: 0 1px 0 0;
    padding: 2px 7px;
}
.console__button:active {
    transform: translateY(1px);
}
.console__button:hover, .console__button:focus {
    background: var(--button-hover-focus-background);
}
.console__button-icon {
    fill: currentColor;
    height: 10px;
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 10px;
}

.console__inner-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 36px);
}
.console__entries {
    height: 100%;
    overflow-y: auto;
}
.console__entries::-webkit-scrollbar {
    height: 0.5em;
    width: 0.5em;
}
.console__entries::-webkit-scrollbar-thumb {
    background: #717790;
}
.console__message {
    border-bottom: 1px solid #5a5f73;
    color: white;
    font-family: Monaco, monospace;
    font-size: 14px;
    padding: 10px 10px 5px;
    white-space: pre-wrap;
}
.console__message:last-of-type {
    border-bottom: none;
}
.console__message_echo {
    background: rgba(255, 255, 255, 0.07);
}
.console__message_error {
    background: rgba(255, 0, 0, 0.2);
}

.command-line {
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-shrink: 0;
    padding: 0 8px 0 0;
}
.command-line__arrow {
    align-items: center;
    color: white;
    display: flex;
    font-weight: bold;
    padding-left: 10px;
}
.command-line__arrow:before {
    content: '>';
}
.command-line__textarea {
    background: none;
    border: 0;
    color: white;
    flex: 1;
    font-family: Monaco, monospace;
    font-size: 14px;
    min-height: 30px;
    outline: 0;
    overflow: hidden;
    padding: 7px 0 7px 7px;
    resize: none;
}

@media (max-width: 767px), (max-height: 440px) {
    .main-nav {
        align-items: end;
        display: flex;
        height: 32px;
        justify-content: center;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        text-align: center;
        top: 8px;
        width: 100%;
        z-index: 1;
    }
    .main-nav__button {
        cursor: pointer;
        color: white;
        background: #2c303a;
        border: none;
        border-top: 2px solid var(--button-border-background);
        margin-right: 1px;
        min-width: 50px;
        padding: 8px 16px;
        pointer-events: auto;
    }
    .main-nav__button:first-child {
        border-top-left-radius: 2px;
    }
    .main-nav__button:last-child {
        border-top-right-radius: 2px;
        margin-right: 0;
    }
    .main-nav__button_selected {
        background: var(--button-border-background);
        border-top: 2px solid #d5d7de;
    }

    .main__inner-container {
        display: block;
        /*height: 40vh;*/
        /*min-height: 125px;*/
        /*width: 100%;*/
    }

    .separator__title {
        visibility: hidden;
    }

    .main__title {
        visibility: hidden;
    }

    .main__editor-container {
        display: none;
        height: 100%;
        width: 100% !important;
    }
    .main__editor-container_selected {
        display: flex;
    }
    .main__actions {
        height: 40px;
        padding-top: 7px;
    }
    .main__button {
        padding: 6px 8px;
    }
    .main__button-icon {
        height: 14px;
        top: 0;
        width: 14px;
    }
    .main__unsaved-message {
        left: 0;
        position: fixed;
        top: 0;
        transform: translate(-50%, -100%);
    }

    .unsaved-message {
        border-radius: 0 0 3px 3px;
    }

    .dropdown {
        width: auto;
    }

    .editor {
        padding: 5px 10px 0 10px;
    }

    .separator_vertical {
        display: none;
    }

    .console {
        border-top: 1px solid var(--button-border-background);
    }
    .console__resizer {
        display: none;
    }
    .console__actions-container {
        height: 40px;
        padding-top: 7px;
    }
}
@media (max-width: 767px) and (orientation: landscape), (max-height: 440px) and (orientation: landscape) {
    .main__actions {
        height: auto;
        padding-top: 8px;
    }
}
@media (min-height: 440px) and (min-width: 768px) {
    .console__resizer {
        background: var(--button-border-background);
        cursor: auto;
        height: 3px;
    }
}


/*                  Footer                  */

.footer {
    align-items: center;
    background: #2c303a;
    border-top: 1px solid var(--button-border-background);
    bottom: 0;
    color: var(--link-footer-color);
    display: flex;
    height: 30px;
    line-height: 1;
    left: 0;
    padding: 0 5px;
    position: fixed;
    width: 100%;
}
.footer__inner-container {
    align-items: center;
    display: flex;
}
.footer__inner-container_right {
    flex-grow: 1;
    justify-content: flex-end;
}
.footer__actions {
    display: inline-flex;
}
.footer__button {
    background: none;
    border: 0;
    border-right: 1px solid var(--button-border-background);
    cursor: pointer;
    color: #b7bbc8;
    font-family: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, sans-serif;
    font-size: 0.75em;
    line-height: 1.2;
    padding: 8px;
}
.footer__button_zoom {
    appearance: none;
    display: none;
    text-indent: 1px;
}
.footer__button_zoom:hover, .footer__button_zoom:focus {
    outline: none;
}
.footer__button_zoom-outline {
    outline: revert !important;
}
.footer__button:hover, .footer__button:focus {
    background: var(--header-button-background);
    color: white;
}
.footer__button_right {
    border-left: 1px solid var(--button-border-background);
    border-right: none;
}
.footer__export {
    margin-bottom: 1px;
}

.export {
    background: white;
    border-radius: 3px;
    bottom: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    cursor: auto;
    color: #2c303a;
    left: auto;
    opacity: 0;
    overflow: hidden;
    margin-bottom: 1px;
    max-width: 460px;
    min-width: 200px;
    padding: 15px;
    position: absolute;
    right: 21px;
    top: auto;
    transform: scale(0.95);
    transform-origin: bottom right;
    transition: transform 0.15s, opacity 0.15s, visibility 0s linear 0.15s;
    visibility: hidden;
}
.export_visible {
    opacity: 1;
    transform: none;
    transition-delay: 0s;
    visibility: visible;
}
.export__title {
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.export__button {
    background: #fff;
    border: 3px solid #b7bbc8;
    border-radius: 4px;
    cursor: pointer;
    color: var(--header-button-background);
    display: block;
    font-family: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, sans-serif;
    font-size: 0.96rem;
    line-height: 1.2;
    margin: 0.5rem 0;
    padding: 6px 11px;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    text-shadow: none;
    transition: all ease 0.2s;
    width: 100%;
}
.export__button:hover, .export__button:focus {
     background: #c7c9d3;
     border-color: #c7c9d3;
     color: #131417;
 }
.export__button-icon {
    display: inline-block;
    fill: var(--header-button-background);
    height: 16px;
    margin-right: 0.35em;
    transition: all ease 0.2s;
    vertical-align: bottom;
    width: 16px;
}
.export__button:hover .export__button-icon, .export__button:focus .export__button-icon {
    fill: #131417;
}

.footer__link {
    background: none;
    border: 0;
    border-left: 1px solid var(--button-border-background);
    cursor: pointer;
    color: #b7bbc8;
    font-family: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, sans-serif;
    font-size: 0.75em;
    line-height: 1.2;
    padding: 8px;
    text-decoration: none;
}
.footer__link:hover, .footer__link:focus {
    background: var(--header-button-background);
    color: white;
}
html:not(.mac) .footer__button_shortcuts:after {
    content: "Shortcuts";
}
html:not(.mac) .footer__ctrl-keys {
    display: none;
}

@media (min-width: 1101px) {
    .footer__button_shortcuts:after {
        content: 'Keys';
        margin-left: 0.125rem;
    }
}
@media (max-width: 550px) {
    .footer__button_export {
        display: none;
    }
}
@media (max-width: 767px), (max-height: 440px) {
    .footer {
        height: auto;
        position: relative;
    }
    .footer__inner-container {
        padding: 4px 0;
    }
    .footer__button_zoom {
        display: inline-block;
    }
    .footer__button_shortcuts {
        display: none;
    }
}
@media (max-width: 767px) and (orientation: landscape), (max-height: 440px) and (orientation: landscape) {
    .footer {
        border-top: 1px solid var(--button-border-background);
    }
}


/*                  Overlay                  */

.overlay {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}
.overlay_display {
    display: block;
}


/*                  Key commands                  */ /* TODO: Исправить шрифт */

.key-commands {
    background: black;
    border: 10px solid #5a5f73;
    display: none;
    left: 0;
    margin: auto;
    max-height: calc(100% - 80px);
    max-width: 90%;
    min-width: 380px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 25px;
    width: 800px;
    z-index: 2;
}
.key-commands_display {
    display: block;
}
.key-commands__inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
}
.key-commands__editor-commands {
    flex: 1 1 30%;
    margin: 10px;
}
.key-commands__editor-commands:first-child {
    padding-right: 10px;
}
.key-commands__title {
    border-bottom: 1px solid #717790;
    color: white;
    font-family: Telefon, sans-serif;
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1.2;
    margin: 15px 0 5px 0;
    padding-bottom: 3px;
}
.key-commands__title:first-child {
    margin-top: 0;
}
.key-commands__key-group {
    color: white;
    font-size: 14px;
    margin: 0 0 5px 0;
}
.key-commands__key-command {
    display: inline-flex;
    font-family: system-ui, monospace;
    font-size: 12px;
    font-weight: bold;
    margin-right: 0.25em;
}
.key-commands__key {
    background: #c7c9d3;
    border-radius: 2px;
    color: black;
    line-height: 1;
    margin-right: 2px;
    padding: 3px 6px;
}
.key-commands__key_mac {
    display: none;
}
.command:before {
    content: "Ctrl";
}

@media (max-width: 830px) {
    .key-commands {
        max-height: 375px;
        min-width: 0;
        overflow: auto;
    }
}
@media (max-width: 600px) {
    .key-commands {
        min-width: auto;
    }
}


/*                  CodeMirror переопределение стилей                  */

.CodeMirror, .console-logs .console-line, .console-command-line-input, .console-message, .CodeMirror-hint {
    font-size: 14px;
    font-family: Monaco, monospace;
}

.cm-keyword { color:#ddca7e !important; }
.cm-variable { color: #ddca7e; }
.cm-property { color: #9a8297; }
.cm-string { color:#96b38a !important; }

.CodeMirror {
    color: white;
    background: transparent;
    height: 100%;
    position: absolute;
    width: 100%;
}
.CodeMirror-lines {
    padding-bottom: 556px;
}
.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
    z-index: 0;
}
.CodeMirror-gutters {
    background: transparent;
    border-right: none;
    z-index: 0;
}
.CodeMirror-cursor {
    border-left: 1px solid white;
}
.CodeMirror-scroll {
    margin-bottom: -30px;
    margin-right: -30px;
    padding-bottom: 30px;
}
.CodeMirror-sizer {
    min-width: 200px;

}
.CodeMirror-gutter-wrapper {
    z-index: 0;
}
.CodeMirror-focused .CodeMirror-selected {
    background: rgba(255,255,255,0.05);
}

.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
    background: #666b7a;
}
.CodeMirror-simplescroll-horizontal, .CodeMirror-simplescroll-vertical {
    z-index: 1;
}
.CodeMirror-simplescroll-horizontal {
    height: 8px;
}
.CodeMirror-simplescroll-vertical {
    background: none;
    width: 9px;
}
.CodeMirror-simplescroll-vertical div {
    border: none;
    border-radius: 0;
    background-clip: padding-box !important;
    border-right: 4px solid transparent;
}

@media (max-width: 767px), (max-height: 440px) {
    .CodeMirror {
        font-size: 10px;
    }
    .CodeMirror-gutters {
        display: none;
    }
    .CodeMirror-sizer {
        margin-left: 0 !important;
    }
    .CodeMirror-gutter-wrapper {
        display: none;
    }
}


/*                  CodeMirror переопределение стилей для theme                 */

.cm-s-twilight div.CodeMirror-selected { background: rgba(255,255,255,0.05); }
.cm-s-twilight.CodeMirror { background: #1d1e22; }

.cm-s-twilight .CodeMirror-gutters { background: none; border-right: none; }
.cm-s-twilight .CodeMirror-linenumber { color: #34363e; }

.cm-s-twilight .cm-operator { color: #ccc; }
.cm-s-twilight .cm-comment { color: #717790; font-style: normal; }
.cm-s-twilight .cm-string { font-style: normal; }
.cm-s-twilight .cm-builtin { color: #ddca7e; }
.cm-s-twilight .cm-error { border-bottom: none; }